body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #333;
}





.container {
    width: 575px;
    height: 825px;
  
    background-color: #797978;
    padding-left: 30px;
  }
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
  }
  
  #weight-guide {
    margin-left: 50px;
    margin-top: 25px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(28, 19, 19);
  }
  
  button {
    width: 150px;
    height: 35px;
    margin-left: 60px;
    margin-top: 25px;
    background-color: #57cc1d;
    padding: 1px 30px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    border: 2px solid #212121;
    text-align: center;
    justify-content: center;
    font-size: 25px;
  }
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }
  